info:
  app:
    name: compress
    description: custom-news-api
    version: 1.0
spring:
  task:
    scheduling:
      pool:
        size: 3
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mysql://localhost:3306/comppress?allowPublicKeyRetrieval=true&createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8
    username: root
    password: root
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: false
  mail:
    host: smtp.mailbox.org
    username: no-reply@comppress.org
    password: password
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    protocol: smtp
server:
  port: 8080
  servlet:
    context-path: /custom-news-api
scheduler:
  top-news-feeds:
    triggeringIntervalMilliSeconds: 30000
    initialDelayIntervalMilliSeconds: 5000
    enabled: no
  news-feed:
    triggeringIntervalMilliSeconds: 40000
    initialDelayIntervalMilliSeconds: 5000
    enabled: no
  paywall:
    triggeringIntervalMilliSeconds: 20000
    initialDelayIntervalMilliSeconds: 4000
    enabled: no
    page-size: 100
  twitter:
    triggeringIntervalMilliSeconds: 60000
    initialDelayIntervalMilliSeconds: 5000
    enabled: no
jwt:
  secret: secret
executor:
  core:
    pool:
      size: 100
  max:
    pool:
      size: 1000
  queue:
    size: 100
gdpr:
  secret: secret
image:
  width: 200
  height: 200
management:
  security:
    enabled: false
  endpoints:
    web:
      exposure:
        include: ['info']
  endpoint:
    health:
      group:
        custom:
          show-components: always
          show-details: always
  health:
    status:
      order: UP,DOWN,OUT_OF_SERVICE,UNKNOWN


#logging:
#  file:
#    name: /var/log/comppress.log
#  logback:
#    rollingpolicy:
#      max-file-size: 25MB
#      max-history: 7

