spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/comppress?allowPublicKeyRetrieval=true
    username: root
    password: secret
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
server:
  port: 8080
  servlet:
    context-path: /news-api
scheduler:
  triggeringIntervalMilliSeconds: 20000
  initialDelayIntervalMilliSeconds: 5000